@import "include/nord.css";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--nord0);
    color: var(--nord4);
}
.container{
    display: flex;
    justify-content: space-between;
    height: 90%;
}
.bar{
    background-color: var(--nord1);
}
.bar1 {
    background-color: var(--nord8) !important;
}
.bar2 {
    background-color: var(--nord9) !important;
}
.bar1, .bar2{
    color: var(--nord0) !important;
}
table {
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    background-color: var(--nord0);
}
td, th {
    border:solid var(--nord1) 1px;
}
thead, td.time{
    background-color: var(--nord2);
    color: var(--nord6)
}

td.time{
    line-height: 150%;
    width:10%;
}
.timetext{
    font-size: smaller;
    line-height: 90%;
}
label{
    margin: 5px;
}
.leftpanel{
    width: 50%;
    /* flex-grow: 3; */
    height: 100%;
    margin:10px;
    /* float: left; */
}
.rightpanel {
    /* flex-grow: 2; */
    border-radius: 10px;
    background-color: var(--nord1);
    padding: 10px 20px;
    width: 50%;
    height: 100%;
    margin:10px;
}
input, select{
    background-color: var(--nord2);
    color: var(--nord4)
}
button#search{
    background-color: var(--nord8);
    color: var(--nord0);
}
button#ntu{
    background-color: var(--nord13);
    color: var(--nord0);
    text-align: center;
    margin: 10px;
    display: inline-block;
}
div#buttonDiv{
    margin-left: auto;
    margin-right: auto;
}
#courses_list{
    background-color: var(--nord3);
}
.leftpanel2{
    width: 40%;
}
.rightpanel2{
    width: 60%;
}
.infoBar{
    background-color: var(--nord10);
}
.clzBtn{
    background-color: var(--nord11) !important;
}
.infoContainer{
    background-color: var(--nord1) !important;
}
.infoContent{
    line-height: 200%;
    padding: 10px;
}
.textHL, .btAdd, .btInf{
    color: var(--nord8) !important;
}
